.cryptoprice {
  border: none;
  background-color: $white-neutral;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  height: auto;
  &__selected,
  &__quentity {
    font-size: $medium-size;
    font-weight: $regular;
  }

  &__selected {
    color: $sunglow;
    text-transform: uppercase;
    margin-right: 0.8rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

}
