.cryptoprice {
  border: none;
  background-color: $white-neutral;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  height: auto;
  &__selected,
  &__quentity {
    font-size: $medium-size;
    font-weight: $regular;
  }

  &__selected {
    color: $sunglow;
    text-transform: uppercase;
    margin-right: 0.8rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &:hover {
      @include from($tablet-landscape) {
        cursor: pointer;
      }
    }

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 0.8rem solid transparent;
      border-right: 0.8rem solid transparent;
      border-top: 0.8rem solid $sunglow;
      border-radius: $radius;
      margin-left: 0.8rem;
    }
  }
}
