$border-top: rgba($white-neutral, 0.06);
.footer {
  display: flex;
  padding: 4rem;
  height: 16rem;
  width: 100%;
  @include until($tablet-landscape) {
    padding: 1.6rem;
    height: auto;
  }

  &__content {
    border-top: 1px solid $border-top;
    display: grid;
    grid-template-columns: 24% 48% 24%;
    gap: 0.8rem;
    padding: 4rem 0;
    position: relative;
    justify-items: stretch;
    align-items: center;
    height: auto;
    width: 100%;
    @include until($tablet-landscape) {
      grid-template-columns: 1fr;
    }
  }

  &__logo {
    @include icon-logo;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 11.4rem;
    height: 3.2rem;
    @include until($tablet-landscape) {
      margin: 0.8rem auto;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: auto;
    @include until($tablet-landscape) {
      flex-direction: column;
      align-items: center;
      margin: 0.8rem auto;
    }
  }

  &__item {
    display: flex;
    margin: 0 1.8rem;
    font-size: $medium-size;
    font-weight: $regular;
    line-height: $medium-size;
    text-transform: uppercase;
    width: auto;
    text-decoration: none;
    @include until($tablet-landscape) {
      margin: 1.6rem 0;
    }
    &:hover {
      @include from($tablet-landscape) {
        color: $sunglow;
      }
    }
  }

  &__social {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: auto;
    @include until($tablet-landscape) {
      margin: 0.8rem auto;
    }
  }

  &__net {
    background-size: contain;
    background-position: center;
    margin: 0 1.2rem;
    display: flex;
    height: 1.8rem;
    width: 2.2rem;

    &.youtube {
      @include icon("youtube", $white-neutral);
      &:hover {
        @include from($tablet-landscape) {
          @include icon("youtube", $sunglow);
        }
      }
      &:active {
        @include until($tablet-landscape) {
          @include icon("youtube", $sunglow);
        }
      }
    }
    &.twitter {
      @include icon("twitter", $white-neutral);
      &:hover {
        @include from($tablet-landscape) {
          @include icon("twitter", $sunglow);
        }
      }
      &:active {
        @include until($tablet-landscape) {
          @include icon("twitter", $sunglow);
        }
      }
    }
    &.facebook {
      @include icon("facebook", $white-neutral);
      &:hover {
        @include from($tablet-landscape) {
          @include icon("facebook", $sunglow);
        }
      }
      &:active {
        @include until($tablet-landscape) {
          @include icon("facebook", $sunglow);
        }
      }
    }
  }
}
