.header {
  padding: 2.4rem 0;
  &__logo {
    @include icon-logo;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 11.4rem;
    height: 3.2rem;
  }

  &__burger {
    display: none;
    background-repeat: no-repeat;
    @include icon("burger", $white-neutral);
    width: 2.8rem;
    height: 2.8rem;
    @include mobile {
      display: flex;
    }
  }
  &__navigation {
    display: flex;
    @include mobile {
      display: none;
    }
  }
}
