.iconimage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: auto;
  min-height: 21.6rem;
  width: 100%;

  &__icon {
    @include icon("upload", $accent);
    background-color: $white-neutral;
    background-position: center;
    background-size: 80%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
  }

  &__title {
    text-align: center;
    font-size: $small-title-size;
    line-height: $small-title-size + $global-rythm;
  }
  &__text {
    text-align: center;
    font-size: $regular-size;
    line-height: $regular-size + $global-rythm;
    font-weight: $regular;
  }
}
