.maps {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: 54rem;
  width: 100%;
  max-width: 86.4rem;
  position: absolute;
  top: 12.4rem;

  @include until($tablet-landscape) {
    margin: 0 auto;
    position: relative;
    top: 16%;
    left: auto;
  }
  &__wrapper {
    background-color: $white-neutral;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 76rem;
    width: 64vw;
    max-width: 86.4rem;
    position: relative;

    @include until($tablet-landscape) {
      background: radial-gradient(
          97.35% 173.07% at 2.7% 3.2%,
          rgba(251, 251, 251, 0.42) 0%,
          rgba(251, 251, 251, 0.42) 0.01%,
          rgba(255, 252, 252, 0.06) 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
      border: 1px solid rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(20px);
      border-radius: $radius * 4;
      width: 100%;
      max-width: 100%;
    }
  }

  &__top,
  &__bottom {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    @include until($tablet-landscape) {
      display: none;
    }
  }

  &__top {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0;
    padding: 0 2.4rem;
    margin: 0 auto;
    position: relative;
    width: calc(100% - 14.8rem);
    height: 12.4rem;
  }
  &__bottom {
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-end;
    align-items: center;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0;
    padding: 0 1.6rem;
    margin: 0 auto 1.6rem auto;
    position: relative;
    width: calc(100% - 12rem);
    height: 5.6rem;
  }

  &__head,
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: $accent;
    font-size: $small-size;
    line-height: $medium-size;
    text-align: center;
  }

  &__head {
    color: $accent;
    text-transform: uppercase;
    justify-content: flex-end;
  }

  &__info {
    color: $black;
    padding-left: 3.2rem;
    width: auto;
    height: auto;
    position: relative;

    &:before {
      content: "";
      width: 1.8rem;
      height: 2rem;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.address {
      &:before {
        @include icon("map", $sunglow);
      }
    }

    &.ping {
      &:before {
        @include icon("ping", $sunglow);
        top: 1.6rem;
      }
    }

    &.horaries {
      &:before {
        @include icon("calendar", $sunglow);
      }
    }

    &:nth-child(4) {
      max-width: 20rem;
    }
  }

  &__select {
    display: flex;
    position: absolute;
    right: 92%;
    top: 5.6rem;
    @include until($tablet-landscape) {
      display: none;
    }
  }
}
