.navigation {
  background-color: transparent;
  display: flex;
  list-style-type: none;
  width: auto;
  position: relative;

  @include mobile {
    flex-direction: column;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: calc(96vh - 8rem);
    top: 8rem;
    left: 0;
  }

  &__list {
    margin: 0;
    display: flex;
    padding: 0.4rem;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    list-style-type: none;
    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: auto;
      flex-wrap: wrap;
    }

    &.mobile {
      flex-direction: column;
      align-items: center;
      padding: 2.4rem;
    }
  }

  &.mobile {
    background-color: $neutral-dgrey;
    flex-direction: column;
  }

  &__out {
    width: 100%;
    display: flex;

    @include tablet {
      // display: none;
      width: auto;
    }

    &.mobile {
      background-color: $neutral-dgrey;
      flex-direction: column;
    }
  }
  &__wrapper {
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 0.8rem;
    width: auto;
    height: auto;
    &.is-active {
      color: $sunglow;
      &:hover {
        pointer-events: none;
      }
    }

    &.mobile {
      justify-content: center;
      width: 100%;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $medium-size;
    font-weight: $semibold;
    color: $white-neutral;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 1.6rem;
    width: 100%;
    height: 100%;
    &:hover {
      color: $sunglow;
      font-weight: $semibold;
      text-decoration: none;
      cursor: pointer;
    }
    .is-active & {
      color: $accent;
      &:hover {
        pointer-events: none;
      }
    }

    &.mobile {
      margin: 2.4rem 0;
    }
  }

  &__subitem {
    @extend .navigation__item;
    &.column {
      font-weight: $regular;
      margin: 0.4rem 0;
      color: $accent;
    }
  }
}
