.textfield {
  position: relative;
  margin: 1.2rem 0;
  width: 100%;
  & > input {
    background-color: transparent;
    border: 0.1rem solid $white-neutral;
    border-radius: $small-title-size;
    padding: 0;
    font-size: $regular-size;
    color: $white-neutral;
    font-weight: $regular;
    text-indent: 2.4rem;
    width: 100%;
    height: 5.6rem;
    position: relative;

    &::placeholder,
    .pholder {
      font-size: $regular-size;
      color: $neutral-silver;
      font-weight: $regular;
    }
    &:focus {
      border: 0.1rem solid $accent;
      font-weight: $regular;
    }
  }

  &__title {
    font-size: $small-title-size;
    line-height: $small-title-size + $global-padding;
    font-weight: $semibold;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
