.dropselect {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 1.2rem;
  border-radius: 0.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: $regular-size + 0.2;
  text-align: center;
  color: $white-neutral;
  font-weight: $semibold;
  width: 100%;
  min-width: 8.2rem;
  height: 4.4rem;
  position: relative;

  @include from($tablet) {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }

  &__wrapper {
    border: none;
    position: relative;
    width: 100%;

    &:after {
      @include icon("arrow", $sunglow);
      background-size: contain;
      content: "";
      position: absolute;
      top: 1.8rem;
      right: 1.6rem;
      height: 1.4rem;
      width: 1.8rem;
      pointer-events: none;
    }

    &:hover {
      @include from($tablet) {
        cursor: pointer;
      }
    }
  }

  option {
    pointer-events: none;
    width: 100vw;
  }
}
