.cryptoform {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  @include until($tablet-landscape) {
    text-align: center;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 44% 48%;
    justify-content: center;
    align-items: center;
    grid-column-gap: 4%;
    grid-row-gap: 0;
    padding: 3.2rem;
    margin: 0 auto;
    position: relative;
    justify-content: space-between;
    background: linear-gradient(
      92.53deg,
      rgba(83, 80, 89, 0.08) 0%,
      rgba(101, 20, 215, 0.12) 49.86%,
      rgba(83, 80, 89, 0.08) 100%
    );
    border-radius: $radius * 4;
    height: auto;
    width: 100%;

    @include until($tablet-landscape) {
      grid-template-columns: 96%;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0.1rem solid $white-neutral;
    border-radius: $small-title-size;
    padding: 0;
    font-size: $regular-size;
    color: $white-neutral;
    font-weight: $regular;
    width: 100%;
    height: 5.6rem;
    position: relative;
    &:hover {
      @include from($tablet-landscape) {
        background-color: rgba($sunglow, 0.8);
        cursor: pointer;
      }
    }
    &:active {
      @include from($tablet-landscape) {
        background-color: rgba($sunglow, 1);
        color: $accent;
        cursor: pointer;
      }
    }
  }

  &__text {
    margin: 1.6rem 0;
    font-size: $regular-size;
    color: $white-neutral;
    font-weight: $regular;
    line-height: $medium-size + 1;
    @include until($tablet-landscape) {
      text-align: center;
    }
  }
}
