.maps {
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: 54rem;
  width: 100%;
  max-width: 86.4rem;
  position: absolute;
  top: 12.4rem;

  @include until($tablet-landscape) {
    border-radius: $radius * 4;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: auto;
    //  max-width: 92%;
    min-height: 40rem;
    overflow: hidden;
  }

  &__wrapper {
    background-color: $white-neutral;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 76rem;
    width: 64vw;
    max-width: 86.4rem;
    position: relative;

    @include until($tablet-landscape) {
      background: radial-gradient(
          97.35% 173.07% at 2.7% 3.2%,
          rgba(251, 251, 251, 0.42) 0%,
          rgba(251, 251, 251, 0.42) 0.01%,
          rgba(255, 252, 252, 0.06) 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
      border: 1px solid rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(20px);
      border-radius: $radius * 4;
      justify-content: flex-start;
      padding: 2.4rem 3.2%;
      height: auto;
      min-height: 90vh;
      width: 100%;
      max-width: 99vw;
    }

    @include until($mobile) {
      min-height: 100vh;
    }
  }

  &__top,
  &__bottom {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
  }

  &__top {
    grid-template-columns: 30% 64%;
    justify-content: flex-end;
    align-items: center;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0;
    padding: 0;
    margin: 0 auto;
    position: relative;
    width: calc(100% - 6.8rem);
    height: 12.4rem;

    @include until($tablet-landscape) {
      margin: 1.6rem auto;
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 0.8rem;
      height: auto;
      width: 100%;
    }
  }
  &__bottom {
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-end;
    align-items: center;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0;
    padding: 0 1.6rem;
    margin: 1.6rem auto;
    position: relative;
    width: calc(100% - 6.8rem);
    height: 5.6rem;
    @include until($tablet-landscape) {
      display: none;
    }
  }

  &__head,
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: $accent;
    font-size: $small-size;
    line-height: $medium-size + 0.2;
    text-align: center;
    &.hideIndesktop {
      display: none;
      @include until($tablet-landscape) {
        display: grid;
      }
    }
  }

  &__head {
    color: $accent;
    text-transform: uppercase;
    justify-content: flex-end;

    @include until($tablet-landscape) {
      color: $sunglow;
    }
    &.hideIndesktop {
      @include until($tablet-landscape) {
        margin-top: 1.6rem;
      }
    }
  }

  &__info {
    color: $black;
    width: auto;
    height: auto;
    position: relative;
    &.hideIndesktop {
      &:before {
        display: none;
      }
      @include until($tablet-landscape) {
        padding-top: 0;
      }
    }

    @include until($tablet-landscape) {
      color: $white-neutral;
    }

    &:before {
      content: "";
      width: 1.8rem;
      height: 2rem;
      background-size: contain;
      position: absolute;
      top: 0rem;
      margin-left: -0.9rem;
      left: 50%;
    }
    &.address {
      padding-top: 2.8rem;
      &:before {
        @include icon("map", $sunglow);
      }
    }

    &.ping {
      padding-top: 2.8rem;
      @include until($tablet-landscape) {
        margin-bottom: 1.6rem;
      }
      &:before {
        @include icon("ping", $sunglow);
      }
    }

    &.horaries {
      &:before {
        @include icon("calendar", $sunglow);
      }
    }

    &:nth-child(4) {
      max-width: 20rem;
    }
  }

  &__select {
    display: flex;
    position: absolute;
    right: 92%;
    top: 5.6rem;
    @include until($tablet-landscape) {
      display: none;
    }
    &.onmap {
      z-index: -1;
    }
  }

  &__mobile {
    flex-direction: column;
    padding: 0 2.4rem;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: auto;
    display: none;

    @include until($tablet-landscape) {
      display: flex;
      padding: 0 1.2rem;
    }
  }
}
