html {
  box-sizing: border-box;
  font-family: $font-primary;
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
  font-size: $regular-size;
  color: $white-neutral;
}

h1,
h2,
h3 {
  font-weight: $bold;
  margin: 0.8rem 0;
}

h1 {
  font-size: $big-title-size;
  line-height: $big-title-size + $global-rythm;
  @include until($tablet-landscape) {
    font-size: $regular-title-size;
    line-height: $big-title-size - $global-rythm;
  }
}

h2 {
  font-size: $regular-title-size;
  line-height: $big-title-size + $global-rythm;
  @include until($tablet-landscape) {
    font-size: $small-title-size;
    line-height: $medium-size + 2rem;
  }
}
h3 {
  font-size: $small-title-size;
  line-height: $small-title-size + $global-rythm;
  @include until($tablet-landscape) {
    font-size: $medium-size + $radius;
    line-height: $medium-size + 0.4rem;
  }
}

.space {
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  min-height: 100vh;
  flex-wrap: wrap;
  z-index: 0;
}
.container {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
  min-width: 32rem;
  flex-wrap: wrap;
  &__main {
    @extend .container;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    @include tablet {
      padding: 2.4rem;
      width: 100%;
    }
  }
  &__inner {
    @extend .container;
    max-width: $maxwidth-inner-containner;
    @include until($tablet-landscape) {
      padding: 0 3.2rem;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  overflow-wrap: break-word;

  &.center {
    justify-content: center;
  }

  &.between {
    justify-content: space-between;
  }

  &.right {
    justify-content: flex-end;
  }

  &.md {
    width: 48%;
  }
  &.sm {
    width: 32%;
  }
  &.xcenter {
    align-items: center;
  }

  &.sm,
  &.md {
    @include until($tablet-landscape) {
      width: 100%;
    }
  }

  &.globalmargin {
    margin: 4rem 0;
    &.extratop {
      @include from($tablet-landscape) {
        margin: 16rem 0;
      }
    }
  }
}

.col {
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: auto;
  width: 100%;
  overflow-wrap: break-word;

  &.center {
    justify-content: center;
  }

  &.bottom {
    justify-content: flex-end;
  }

  &.md {
    width: 48%;
  }
  &.sm {
    width: 32.666%;
  }
}

[v-cloak] {
  display: none;
}

.bgdegree {
  background: linear-gradient(
    -45deg,
    $black,
    $neutral-dgrey,
    #140c1f,
    $neutral-dgrey
  );
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
